#preview_report_wrap{
    background: #fff;
}
#preview_report_wrap .formData{
    padding-top: 5px;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 15px;
}
#preview_report_wrap .blank_for_submitBtn_preview{
    height: 61px;
    background: #f2f2f2;
}
#preview_report_wrap .formData .dataList{}
#preview_report_wrap .formData .dataList .dataListItem{
    margin-top: 12px;
}
#preview_report_wrap .formData .dataList li{
    display: block;
    width: 100%;
}
#preview_report_wrap .formData .dataList li .left{
    font-size: 14px;
    color: #aaa;
    padding-left: 0.3rem;
    line-height: 1.6;
}
#preview_report_wrap .formData .dataList li .right{
    font-size: 14px;
    color: #222;
    padding-left: 0.3rem;
}
/*图片*/
#preview_report_wrap .formData .dataList li .right_pic{
    display: block;
    width: 100%;
    padding-left: 10px;
}
#preview_report_wrap .formData .dataList li .right_pic .imglist{
    width: 100%;
    overflow: hidden;
}
#preview_report_wrap .formData .dataList li .right_pic .imglist li{
    display: block;
    width: 33.33%;
    float: left;
    position: relative;
}
#preview_report_wrap .formData .dataList li .right_pic .imglist li::before{
    content: "";
    padding-top: 100%;
    display: block;
}
#preview_report_wrap .formData .dataList li .right_pic .imglist li .imglist_imgbox{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 10px;
    padding-bottom: 10px;
    position: absolute;
    top:0;
    left: 0;
}
#preview_report_wrap .formData .dataList li .right_pic .imglist li .imglist_imgbox img{
    width: 100%;
    height: 100%;
}
/*附件*/
#preview_report_wrap .formData .dataList .dataListItem[data-fieldtype='file'] .right_file{
    padding: 0 0.3rem;
}
#preview_report_wrap .formData .dataList li .right_file .addFilePreview ul li{
    display: block;
    width: 100%;
    padding: 7px 0;
    overflow: hidden;
}
#preview_report_wrap .formData .dataList li .right_file .addFilePreview ul li .file_logo{
    display: block;
    width: 15.5%;
    height: 18.5px;
    float: left;
    background: url(../../../images/list_icon_annex_def@3x.png) no-repeat left center;
    background-size: 21px 18.5px;
}
#preview_report_wrap .formData .dataList li .right_file .addFilePreview ul li .filename{
    display: block;
    height: 100%;
    float: left;
    width:84.5%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #296695;
    line-height: 18.5px;
}
#preview_report_wrap .formData .dataList li .right_file .addFilePreview ul li .size{
    display: block;
    width: 1.65rem;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #9a9a9a;
    line-height: 18.5px;
}
/*说明*/
#preview_report_wrap .dataListItem[data-fieldtype='remark']{
    padding-top: 5px;
    padding-bottom: 10px;
}
#preview_report_wrap .dataListItem[data-fieldtype='remark'] .left{
    font-size: 16px;
    padding-right: 0.3rem;
    text-align: justify;
}
#preview_report_wrap .dataListItem[data-fieldtype='remark'] .left span{
    color: #222;
}
#preview_report_wrap li.dataListItem[data-fieldtype='remark'] .right{
    text-align: center;
    color: #999;
    font-size: 10px;
    padding-top: 24px;
    height: 52px;
    padding-right: 0.3rem;
    background-image: url(../../../images/team_icon_down_pre@3x.png);
    background-repeat: no-repeat;
    background-position: center 12px;
    background-size: 20px 12.5px;
}
#preview_report_wrap li.dataListItem[data-fieldtype='remark'] .active{
    background-image: url(../../../images/team_icon_up_pre@3x.png);
}
/*明细*/
#preview_report_wrap .formData .dataList li .groupItem{
    padding-left: 0.3rem;
}
#preview_report_wrap .formData .dataList li .groupItem dt{
    font-size: 14px;
    color: #222;
}
#preview_report_wrap .report_submit_wrap{
    width: 100%;
    height: 61px;
    background: #f2f2f2;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.1);
    z-index: 99999;
}
#preview_report_wrap .report_submit_wrap .report_submit_sure{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 61px;
    background: #FCFCFC;
    font-size: 18px;
    color: #FF7123;
}
/*接收人开始*/
#preview_report_wrap .add_report_receive_wrap{
    width: 100%;
    height: 70px;
    min-height: 55px;
    box-sizing: border-box;
    padding: 0 0.3rem;
    position: relative;
    border-bottom: 1px solid #D2D2D2;
    border-top: 1px solid #D2D2D2;
    overflow: hidden;
}
#preview_report_wrap .add_report_receive_wrap .title{
    width: 25%;
    float: left;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #222;
    position: absolute;
    top: 50%;
    margin-top: -17.5px;
}
#preview_report_wrap .add_report_receive_wrap .content{
    width: 65%;
    min-height: 55px;
    margin-left: 31%;
}
#preview_report_wrap .add_report_receive_wrap .content ul{
    overflow: hidden;
    float: right;
}
#preview_report_wrap .add_report_receive_wrap .content ul li{
    display: block;
    width: 40px;
    height: 70px;
    float: left;
    position: relative;
    padding-top: 7.5px;
    margin-left: 15px;
    box-sizing: border-box;
}
#preview_report_wrap .add_report_receive_wrap .content ul li .img_box{
    width: 40px;
    height:40px;
    border-radius: 100%;
    overflow: hidden;
}
#preview_report_wrap .add_report_receive_wrap .content ul li .img_box b{
    display: inline-block;
    width: 100% !important;
    height: 100% !important;
    text-align: center;
    line-height: 40px !important;
    font-size: 12px !important;
}
#preview_report_wrap .add_report_receive_wrap .content ul li .img_box img{
    width: 100%;
    height: 100%;
}
#preview_report_wrap .add_report_receive_wrap .content ul li span{
    display: block;
    width: 40px;
    line-height: 1.5;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
    color: #666;
}
#preview_report_wrap .add_report_receive_wrap .content ul li i{
    font-size: 14px;
    color: #FF6258;
    position: absolute;
    top:6px;
    right: 8px;
    display: none;
}
#preview_report_wrap .add_report_receive_wrap .del{
    width: 10%;
    height: 100%;
    position: absolute;
    right: 0;
    top:0;
}
#preview_report_wrap .add_report_receive_wrap .del .arrow_right{
    width: 27px;
    height: 55px;
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
    line-height: 55px;
    right: 0;
    text-align: center;
    z-index: 9;
}
#preview_report_wrap .add_report_receive_wrap .del .arrow_right i{
    font-size: 18px;
    color: #999;
    line-height: 55px;
}
/*接收人结束*/
/*提示开始*/
#preview_report_wrap .draft_cover_wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top:0;
    display: none;
    z-index: 99999;
}
#preview_report_wrap .draft_cover_wrap .draft_cover{
    width: 5rem;
    height: 127px;
    background: #fff;
    border-radius: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#preview_report_wrap .draft_cover_wrap .draft_cover .cover_content{
    width: 100%;
    height: 83px;
    text-align: center;
    font-size: 17px;
    color: #222;
    border-bottom: 1px solid #D2D2D2;
    box-sizing: border-box;
    padding-top: 18px;
}
#preview_report_wrap .draft_cover_wrap .draft_cover .cover_btn_box{
    width: 100%;
    height: 44px;
}
#preview_report_wrap .draft_cover_wrap .draft_cover .cover_btn_box div{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 44px;
    box-sizing: border-box;
    font-size: 17px;
    float: left;
    color: #EF6518;
}
#preview_report_wrap .draft_cover_wrap .draft_cover .cover_btn_box .btn_left{
    color: #666;
}
/*提示结束*/