<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招聘管理</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" type="text/css" href="//static.daydao.com/static/common/css/animate.min.css?v=_VERSION_">
    <link rel="stylesheet" type="text/css" href="//static.daydao.com/static/common/css/reset_m.css?v=_VERSION_">
    <link rel="stylesheet" type="text/css" href="//static.daydao.com/static/hr/recruit/css/recruit.css?v=_VERSION_">
    <link rel="Shortcut Icon" href="//static.daydao.com/static/common/images/static/logoicond.ico?v=_VERSION_"/>
    <link  rel="stylesheet" type="text/css" href="//static.daydao.com/static/hr/recruit/css/style.css?v=_VERSION_" />
    <link  rel="stylesheet" type="text/css" href="//static.daydao.com/static/hr/recruit/css/style_app.css?v=_VERSION_" />
</head>
<body>
<div id="main_wrap" class="main_wrap clearfix">
    <!-- 路由外链 -->
    <router-view></router-view>
</div>

<script type="text/javascript" src="//static.daydao.com/static/common/plugins/jquery-1.11.1.min.js?v=_VERSION_"></script>
<script type="text/javascript" src="//static.daydao.com/static/common/plugins/sea.js?v=_VERSION_"></script>
<script type="text/javascript" src="//static.daydao.com/static/common/plugins/vue.js?v=_VERSION_"></script>
<script type="text/javascript" src="//static.daydao.com/static/common/plugins/vue-router.min.js?v=_VERSION_"></script>
<script type="text/javascript" src="//static.daydao.com/static/common/plugins/mobile.loading/mobile.loading.js"></script><!--移动端遮罩-->
<script>
    //获取全局配置信息
    $.getScript("//static1.daydao.com/static/common/config.js",function () {

        $.getScript("//static1.daydao.com/static/common/version.js",function () {

            gMain.apiBasePath = gMain.basePath + "apiRecruit/";  //招聘接口请求的基础路径
            gMain.baseStaticHrPath = gMain.baseStaticPath + "hr/";//hr項目
            gMain.projectSource = "dayhr";//项目标识
            gMain.isMobile = true;//是否移动端
            /**
             * seajs配置信息
             */
            seajs.config({
                base: "//static.daydao.com/"+gMain.jsdir +"/hr/recruit/"  //seajs的基础路径（组织人事，元数据项目的模块）
                , charset: 'utf-8'
                , map: [[/^(.*\.(?:css|js|html))(.*)$/i, '$1?v=_VERSION_' + '-' + gMain.verson]]  //加上版本号，清缓存用
                //公共路径
                /*, paths: {
                 "commonStaticDirectory": "//static.daydao.com/static/common"  //最后不带反斜杠  （//192.168.50.228:228）换成（${ctx}/<%=jsdir%>/common）
                 }*/
            });

            seajs.use(["commonStaticDirectory/plugins/isSupported.js"],function (isSupported) {
                /*if(!isSupported.isSupported()){ //旧版 APP 不支持，弹出升级提示，并不再渲染页面
                    return false;
                }*/

                seajs.use(["commonStaticDirectory/header/header_app.js"],function(Header){
                    $("body").mLoading();
                    Header.init(function () {
                            /* 初始化路由 */
                            seajs.use(["js/router.js"]);
                    });
                });
            });
        });
    });
</script>
</body>
</html>