html{
    background: #fff;
}
#report_receive_cover{
    width: 100%;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
    padding-bottom: 61px;
}
#report_receive_cover ul{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 0.35rem;
    overflow: hidden;
}
#report_receive_cover ul li{
    display: block;
    width: 1.2rem;
    height: 1.55rem;
    margin-right: 0.3rem;
    margin-bottom: 0.45rem;
    float: left;
    position: relative;
}
#report_receive_cover ul li:nth-child(4n){
    margin-right: 0;
}
#report_receive_cover ul li .img_box{
    width: 100%;
    height: 1.2rem;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 2.5px;
}
#report_receive_cover ul li .img_box b{
    display: inline-block;
    width: 100% !important;
    height: 100% !important;
    text-align: center;
    line-height: 1.2rem !important;
}
#report_receive_cover ul li .img_box img{
    width: 100%;
    height: 100%;
}
#report_receive_cover ul li span{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 11px;
}
#report_receive_cover ul li .del_report_receiver{
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top:-0.1rem;
    right: -0.14rem;
    color: #FF6258;
    background: url(../../../images/file_delete_def@3x.png) no-repeat #fff;
    background-size: 100% 100%;
}
#report_receive_cover .choose_cover_sure{
    width: 100%;
    height:61px;
    text-align: center;
    line-height: 61px;
    font-size: 18px;
    color: #ff7123;
    border-top: 1px solid #D2D2D2;
    background: #FCFCFC;
    position: fixed;
    bottom: 0;
    z-index: 999;
}