<div id="reader_list_wrap">
    <div class="read_counts">已阅{{readTatol}}人</div>
    <ul>
        <li v-for="item in readerHeadImgList">
            <div class="head_img_box">
                <div class="img_box">
                    <img v-app-head-img="item"/>
                </div>
            </div>
            <div class="person_infor">
                <div class="person_name">{{item.personName}}</div>
                <div class="share_person_name" v-read-ann-time="item.createTime"></div>
            </div>
        </li>
    </ul>
    <div class="dropload-refresh" style="display:none">↑&nbsp;上拉加载更多</div>
    <div class="dropload-load" style="display:none"><span class="loading"></span>加载中...</div>
    <div class="dropload-noData" style="display:none">没有更多了~</div>
</div>