@charset "utf-8";
#announcement_index{
    box-sizing: border-box;
    padding-right: 355px;
    position: relative;
    padding-top: 60px;
    width: 100%;
}
/*菜单栏 开始*/
#announcement_index .announcement_menu{
    height: 70px;
    padding-top: 35px;
    padding-left: 5px;
    position: fixed;
    top: 0px;
    z-index: 99;
    background: #fff;
    width: calc(100% - 240px - 65px - 355px);
}
#announcement_index .announcement_menu .add_annoucement_btn{
    width: 85px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background-color: #ed6c2b;
    display:block;
    border-radius:5px;
    position: absolute;
    right: 0;
    top: 35px;
    cursor: pointer;
}
#announcement_index .announcement_menu ul.menu_libox{
    display: block;
    width: 565px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}
#announcement_index .announcement_menu ul.menu_libox li{
    display: block;
    width: 115px;
    height: 35px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #ededed;
}
#announcement_index .announcement_menu ul.menu_libox li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #8b8b8b;
    line-height: 34px;
    font-size: 14px;
}
#announcement_index .announcement_menu ul.menu_libox li.active a{
    color: #ed6c2b;
}
#announcement_index .announcement_menu ul.menu_libox .menu_bottom_bar{
    display: block;
    position: absolute;
    width: 115px;
    height: 2px;
    background: #ed6c2b;
    left: 0;
    bottom: 0;
}
/*菜单栏 结束*/
/*搜索区 开始*/
#announcement_index .annoucementSearch{
    width: 225px;
    position: absolute;
    top: 35px;
    right: -255px;
}
#announcement_index .annoucementSearch .simple_search_wrap{
    width: 225px;
    height: 35px;
    display: block;
    border:1px solid #bdbdbd;
    border-radius: 3px;
}
#announcement_index .annoucementSearch .simple_search_wrap .simple_search_leftIcon{
    width: 35px;
    height: 35px;
    display: block;
    float: left;
    border-radius: 3px 0 0 3px;
    background:url(../images/annoucement_search_icon_.png) no-repeat;
    background-position: 5px 5px;
    cursor: pointer;
}
#announcement_index .annoucementSearch .simple_search_wrap input{
    display: block;
    float: left;
    width: 155px;
    height: 33px;
    border: none;
    outline: none;
    vertical-align:top;
}
#announcement_index .annoucementSearch .simple_search_rightIcon{
    width: 33px;
    height: 33px;
    background: url(../images/announcement_tri_icon.png) no-repeat;
    background-position:7.5px 7.5px;
    display: block;
    border-radius: 0 3px 3px 0;
    transition: all 0.5s;
    -ms-transform:rotate(0deg); /* IE 9 */
    -moz-transform:rotate(0deg); /* Firefox */
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
    -o-transform:rotate(0deg); /* Opera */
    transform:rotate(0deg);
    float: right;
    cursor: pointer;
}
/*---高级---*/
#announcement_index .senior_search_wrap,#announcement_index .senior_search_ani-transition{
    width: 225px;
    border:1px solid #bdbdbd;
    border-top: none;
    border-radius: 3px;
    transition: all .5s ease;
}
#announcement_index .senior_search_ani-enter,#announcement_index .senior_search_ani-leave{
    height: 0;
    opacity: 0;
}
#announcement_index .senior_search_wrap ul.senior_search_libox{
    display: block;
    width: 100%;
    overflow: hidden;
}
#announcement_index .senior_search_wrap ul.senior_search_libox li{
    display: block;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#announcement_index .senior_search_wrap ul.senior_search_libox li .senior_searchTit{
    display: block;
    float: left;
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align:right;
    margin-left: 10px;
}
#announcement_index .senior_search_wrap ul.senior_search_libox li .senior_search_input{
    width: 140px;
    display: block;
    float: left;
    margin-left: 10px;
}
#announcement_index .senior_search_wrap ul.senior_search_libox li .senior_search_btn{
    width: 50px;
    height: 30px;
    display:block;
    border-radius: 3px;
    text-align: center;
    color:#ffffff;
    background: #ed6c2b;
    float: right;
    margin-right: 13px;
    cursor: pointer;
}
/*---筛选--*/
#announcement_index .annoucement_filtrate_wrap{
    width: 225px;
    background-color: #f0f0f0;
    font-size:14px;
    line-height:30px;
    margin-top: 27px;
}
#announcement_index .annoucement_filtrate_title{
    height: 32px;
    width: 100%;
    padding-left: 25px;
    box-sizing: border-box;
    border-bottom: 1px solid #e4e4e4;
    padding-top: 7px;
    line-height: 24px;
    color: #939393;
}
#announcement_index .annoucement_filtrate_wrap ul.annoucement_filtrate_libox{
    display: block;
    width: 100%;
    padding-left: 15px;
    height: 190px;
    overflow: auto;
}
#announcement_index .annoucement_filtrate_wrap ul.annoucement_filtrate_libox li{
    line-height: 20px;
    font-size: 12px;
    padding-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
#announcement_index .annoucement_filtrate_wrap ul.annoucement_filtrate_libox li.active{
    border-left: 2px solid #ed6c2b;
    color: #ed6c2b;
}
/*搜索区 结束*/
#announcement_index .no_more_data{
    height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 16px;
    text-align: center;
}