<div id="preview">
    <p class="preview_title">{{sTitle}}</p>
    <p class="preview_sort"><span class="preview_classify">分类：{{sClassify}}</span><span class="preview_issuer">发布人：{{releaser}}</span><span class="preview_sTime">发布时间：{{sTime}}</span></p>
    <p class="preview_content" v-ann-content-handle="sContent"></p>
    <div class="preview_imgF">
        <img v-bind:src="sImgUrl" v-if="!!oFileList.img" class="preview_imgD"/>
    </div>
    <div class="ann_img_wrap clearfix" v-if="oFileList.imgList.length != 0">
        <div class="left">
            图片：
        </div>
        <div class="right">
            <ul class="imglist clearfix">
                <li v-for="itemPic in oFileList.imgList" track-by="$index" data-uuid="{{itemPic.uuid}}">
                    <div class="preview_download_upload">
                        <div class="point_up"></div>
                        <div class="img_operation_item" v-on:click.prevent="previewPic($event,itemPic.url)">
                            <Icon type="ios-eye-outline"></Icon>
                            <span>查看</span>
                        </div>
                        <!--<div class="img_operation_item">
                            <Icon type="ios-cloud-upload-outline"></Icon>
                            <span>存云盘</span>
                        </div>-->
                        <div class="img_operation_item" v-on:click.prevent="downloadFile(itemPic.uuid)">
                            <Icon type="ios-cloud-download-outline"></Icon>
                            <span>下载</span>
                        </div>
                    </div>
                    <div class="imglist_imgbox">
                        <img v-bind:src="itemPic.url" class="previewPic" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="ann_file_wrap clearfix" v-if="oFileList.fileList.length != 0">
        <div class="left">
            附件：
        </div>
        <div class="right">
            <div class="addFilePreview clearfix">
                <ul class="clearfix">
                    <li v-for="itemFile in oFileList.fileList" track-by="$index" data-uuid="{{itemFile.uuid}}">
                        <div class="preview_download_upload">
                            <div class="point_left"></div>
                            <div class="img_operation_item" v-on:click.prevent="previewFile($event,itemFile.uuid,itemFile.fileSort)">
                                <Icon type="ios-eye-outline"></Icon>
                                <span>查看</span>
                            </div>
                            <!--<div class="img_operation_item">
                                <Icon type="ios-cloud-upload-outline"></Icon>
                                <span>存云盘</span>
                            </div>-->
                            <div class="img_operation_item" v-on:click.prevent="downloadFile(itemFile.uuid)">
                                <Icon type="ios-cloud-download-outline"></Icon>
                                <span>下载</span>
                            </div>
                        </div>
                        <span class="icon">图标：</span>
                        <span class="filename" title="{{itemFile.fileName}}">{{itemFile.fileName}}</span>
                        <span class="size">{{itemFile.sizeWithUnit}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="preview_publish">发布范围({{sReceiver.length}}):
        <template v-for="(item,value) in sReceiver">
            <span class="preview_publisher">{{value}}<i>、</i></span>
        </template>
        <div class="preview_unfold" @click="unfold" v-if="isShow" >展开</div>
        <div class="preview_unfold" @click="unfold" v-else>收起</div>
    </div>
    <div class="watermark_wrap"></div>
</div>