<div id="test">
	<input type="button" value="点击" v-on:click="auditStart(item,'start')">
    <button v-on:click="demo">demo</button>
    <div id="dropSelect" class="dayhr_drop_select"></div>
    <Upload action="#">
        <Button type="ghost" icon="ios-cloud-upload-outline">上传文件</Button>
    </Upload>
    <div id="comment">
    </div>'
    <Page :total="100" show-total></Page>
    <page  size="small" show-sizer class="daydaoFedComment_page" :total="0" show-total ></page>
    <div id="page"></div>
</div>