@charset "utf-8";
/*顶部Tap切换开始*/
#announcement_app_index{
    width: 100%;
    background: #fff;
}
#announcement_app_index .announcement_header_tap{
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #D2D2D2;
    background: #ffff;
    position: relative;
}
#announcement_app_index .announcement_header_tap span.annoucement_classify_name{
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    color: #222;
    padding: 0 0.3rem;
    line-height: 44px;
}
#announcement_app_index .announcement_header_tap span.search_choose_btn{
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 61px;
    background: url(../images/btn_icon_choice_def.png) no-repeat center center;
    background-size: 20.25px 18px;
}
#announcement_app_index .report_header_tap ul{
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding:0rem  0.7rem;
}
#announcement_app_index .report_header_tap ul li{
    display: block;
    float: left;
    width: 1.8rem;
    height: 100%;
}
#announcement_app_index .report_header_tap ul li:nth-child(2){
    float: right;
}
#announcement_app_index .report_header_tap ul li a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    padding-top: 9px;
    color: #222222;
    font-size: 16px;
}
#announcement_app_index .report_header_tap ul li.active a{
    color: #FF7123;
    border-bottom: 2px solid #FF7123;
}
/*顶部Tap切换end*/
/*汇报类型和历史汇报*/
#announcement_app_index .history_type_report_wrap{
    width: 100%;
    height: 54px;
    box-sizing: border-box;
    padding: 15px 0.3rem;
    background: #f2f2f2;
}
#announcement_app_index .report_type_btn,#announcement_app_index .report_history_btn{
    color: #666666;
    line-height: 22px;
    font-size: 12px;
    border: 1px solid #aaa;
    border-radius: 0.06rem;
    text-align: center;
}
#announcement_app_index .report_type_btn{
    width: auto;
    padding: 0 0.16rem;
    height:24px;
    line-height: 22px;
    float: left;
}
#announcement_app_index .report_type_btn span{
    display: inline-block;
    max-width: 1.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
#announcement_app_index .report_type_btn i{
    line-height: 22px;
    margin-left: 0.09rem;
    float: left;
}
#announcement_app_index .report_history_btn{
    height: 22px;
    float: right;
    border: none;
    overflow: hidden;
    line-height: 24px;
    font-size: 12px;
    padding-left: 19px;
    background: url(../images/tab_icon_time_def@3x.png) no-repeat left center;
    background-size: 14px 14px;
}
/*汇报类型和历史汇报end*/
/*覆盖层start*/
#announcement_app_index .report_type_cover,#announcement_app_index .fade_cover-transition{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top:0;
    transition: all .2s ease 0.1s;
    z-index: 99;
}
#announcement_app_index .fade_cover-enter,#announcement_app_index .fade_cover-leave{
    background: rgba(0,0,0,0);
}
#announcement_app_index .report_type_cover .reportType_list_wrap,#announcement_app_index .report_type_cover .type_rise-transition{
    width: 100%;
    position: absolute;
    top: 0;
    background: #fff;
    box-sizing: border-box;
    transition: all .4s ease;
    max-height: 70%;
    min-height: 125px;
    overflow-y: auto;
}
#announcement_app_index .report_type_cover .type_rise-enter,#announcement_app_index .report_type_cover .type_rise-leave{
    top: -50%;
}
/*-----*/
#announcement_app_index .report_type_cover .header_title{
    width: 100%;
    height: 44px;
    background: 44px;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
}
#announcement_app_index .report_type_cover .header_title span.annoucement_classify_name{
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    color: #222;
    padding: 0 0.3rem;
    line-height: 44px;
}
#announcement_app_index .report_type_cover .header_title span.search_choose_btn{
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 61px;
    background: url(../images/btn_icon_choice_def.png) no-repeat center center;
    background-size: 22px 22px;
}
#announcement_app_index .report_type_cover .reportType_list_wrap::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
}
#announcement_app_index .report_type_cover .reportType_list_wrap::-webkit-scrollbar {
    width: 5px;
    height: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#announcement_app_index .report_type_cover .reportType_list_wrap::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 28px;
}
#announcement_app_index .report_type_cover .reportType_list_wrap::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/*----*/
#announcement_app_index .reportType_list_wrap .btn_box{
    background: #F9F9F9;
    padding-left: 0.3rem;
}
#announcement_app_index .reportType_list_wrap .btn_box .choose_mark{
    width: 22px;
    height: 100%;
    position: absolute;
    top:0;
    right: 0.3rem;
    background: url(../images/pop_icon_choose_de02x.png) no-repeat center center;
    background-size: 20px 15px;
    display: none;
}
#announcement_app_index .reportType_list_wrap .all_reportType_btn{
    width: 100%;
    height: 44px;
    text-align: left;
    line-height: 44px;
    font-size: 15px;
    color: #222;
    background: #F9F9F9;
    position: relative;
}
#announcement_app_index .reportType_list_wrap .report_type_list_btn{
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    color: #222;
    background: #F9F9F9;
    text-align: left;
    box-sizing: content-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid #e6e6e6;
    position: relative;
}
#announcement_app_index .reportType_list_wrap .active{
    color: #FF7123;
}
#announcement_app_index .reportType_list_wrap .active .choose_mark{
    display: block;
}
/*覆盖层end*/
/*加载*/
#announcement_app_index .dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
#announcement_app_index .dropload-down{
    height: 50px;
}
#announcement_app_index .dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    color: #404040;
    background: #f2f2f2;
    border-top: 1px solid #f3f3f3;
    display: none;
}
#announcement_app_index .dropload-load .loading{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*加载*/
/*是否删除开始*/
#announcement_app_index .draft_cover_wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top:0;
    display: none;
    z-index: 99999;
}
#announcement_app_index .draft_cover_wrap .draft_cover{
    width: 5.4rem;
    height: 127px;
    background: #fff;
    border-radius: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#announcement_app_index .draft_cover_wrap .draft_cover .cover_content{
    width: 100%;
    height: 83px;
    text-align: center;
    line-height: 83px;
    font-size: 17px;
    color: #222;
    border-bottom: 1px solid #D2D2D2;
}
#announcement_app_index .draft_cover_wrap .draft_cover .cover_btn_box{
    width: 100%;
    height: 44px;
}
#announcement_app_index .draft_cover_wrap .draft_cover .cover_btn_box div{
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 44px;
    box-sizing: border-box;
    font-size: 17px;
    float: left;
    color: #EF6518;
}
#announcement_app_index .draft_cover_wrap .draft_cover .cover_btn_box .btn_left{
    border-right: 1px solid #D2D2D2;
    color: #666;
}
/*是否删除稿结束*/